!!!
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= "#{page_title + ' - ' unless page_title.blank?}#{t(:app_name)}"
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

  %body{:class => body_class}
    #header
      = render :partial => 'layouts/flashes'
    .container
      %a{:href=>"http://updatelocationapp.com"}
        %h1 updatelocationapp.com    
      = yield

      %script{type="text/javascript"}
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-1098906-3");
        pageTracker._trackPageview();
        } catch(err) {}

